h1 {
  position: relative;
  font-size: 2.5em;
  font-weight: 700;
  color: #000;
  margin: 0 0 1em 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 0.1em #fff;
}

p {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  width: 80%;
  color: #000;
  margin: 0 0 1em 10%;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 0.1em #fff;
}

form {
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

button {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 3em;
  margin: 0 0 1em 25%;
  padding: 0;
  border: 0;
  border-radius: 0.5em;
  background: #000;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
